.wrapper > div > * {
  --background: transparent;
  --ion-item-background: transparent;
}

.wrapper > div:nth-child(odd) ion-item-sliding,
.wrapper > div:nth-child(odd) ion-item-sliding > ion-item {
  background: #effafb;
  transition: background 300ms linear;
}

.wrapper > div:nth-child(even) ion-item-sliding,
.wrapper > div:nth-child(even) ion-item-sliding > ion-item {
  background: #fef7fd;
  transition: background 300ms linear;
}

.wrapper > div > .divider {
  --background: #f4f4f4;
  --color: black;
  font-size: 12px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-weight: bolder;
}

.wrapper > div > .divider ion-label {
  margin-top: 0px;
  margin-bottom: 0px;
}
